@media (min-width: $xl){
}

@media (min-width: $lg) and (max-width: $xl){
}

@media (min-width: $md) and (max-width: $lg){
}

@media (min-width: $sm) and (max-width: $md){
  body{
    align-items: flex-start;
    justify-content: center;
  }
}

@media (max-width: $sm){
  body{
    align-items: flex-start;
    justify-content: center;
  }
  
  .chat-drawer{
    position: absolute !important;
    z-index: 999 !important;
    left: 0;

    &.inactive{
      left: -300px;
    }
  }

  .chat-messages{
    // padding-bottom: 8rem !important;
  }

  .single-msg{
    width: 100% !important;
    & .contact-data{
      & .header{
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }
}
