@media (min-width: $xl){
}

@media (min-width: $lg) and (max-width: $xl){
}

@media (min-width: $md) and (max-width: $lg){
}

@media (min-width: $sm) and (max-width: $md){
  body{
    align-items: flex-start;
    justify-content: center;
  }
}

@media (max-width: $sm){
  body{
    align-items: flex-start;
    justify-content: center;
  }

  .single-msg{
    & .contact-data{
      & .header{
        flex-direction: column-reverse;
        align-items: flex-end;
      }
    }
  }
}
