@media (max-width: $lg){
  .single-msg{
    width: 100% !important;
    & .contact-data{
      & .header{
        flex-direction: column !important;
        align-items: flex-end !important;
      }
    }
  }
}
@media (max-width: $sm){
  .chat-drawer{
    position: relative !important;
    left: 0;


    &.inactive{
      left: -$drawer-width;
      position: absolute !important;
    }
  }
}
