// COLORS ///////////////////////////////////////////////////////////
$primary: rgb(0, 17, 255);
$secondary: rgb(255, 0, 0);
$white: rgb(255, 255, 255);

// DIMENSIONS //////////////////////////////////////////////////////
$app-min-width: 350px;
$app-min-height: 500px;
$app-max-width: 1024px;
$app-max-height: 768px;

//NAVIGATION
$nav-height: 50px;

//DISPLAY SIZE
$sm: 540px;
$md: 728px;
$lg: 960px;
$xl: 1140px;