// COLORS ///////////////////////////////////////////////////////////
//GLOBAL
$primary: rgb(76, 83, 175);
$secondary: rgb(2, 169, 175);
$white: rgb(255, 255, 255);

//TEXT
$text-primary: rgb(76, 83, 175);

//FORM
$form-primary: rgba(0, 17, 255, 0.7);
$form-button-hover: rgba(76, 83, 175, 0.3);

// DIMENSIONS //////////////////////////////////////////////////////
$app-min-width: 350px;
$app-min-height: 500px;
$app-max-width: 1024px;
$app-max-height: 768px;

//NAVIGATION
$nav-height: 50px;

//DISPLAY SIZE
$sm: 540px;
$md: 728px;
$lg: 960px;
$xl: 1140px;