* {
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, Geneva, Tahoma, "Open Sans", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  overflow: hidden;
}

body {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  color: $primary;
  min-width: $app-min-width;
}

#app {
  // margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  // max-width: 1200px;
  // max-height: 800px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.router-page {
  flex: 1;
}
