* {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary;
}

#app {
  position: static;
  width: 100%;
  height: 100%;
  min-width: $app-min-width;
  max-width: $app-max-width;
  min-height: $app-min-height;
  max-height: $app-max-height;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.router-page {
  position: static;
  width: 100%;
  height: $app-max-height - $nav-height;
}

form {
  position: relative;
  min-width: $app-min-width;
}

form > * {
  border: none;
  background: none;
}

form .title {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5rem;
}

form > input {
  width: 98.5%;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 0.7rem;
  padding: 0.4rem;
  outline: none;
}

form > input:hover {
  border-color: $primary;
}

form > input:focus {
  outline: none;
  border-color: $primary;
}

form > button {
  font-size: 1.3rem;
  color: $primary;
  border: 1px solid $primary;
  padding: 0.5rem;
  outline: none;
}

form > button:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
