$drawer-width: 300px;

.chat-drawer{
  // position: relative;
  min-width: 300px;
  width: 300px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $primary;
  color: $white;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.4);

  &.inactive{
    width: 0;
    box-shadow: none;
    min-width: 0;
  }

  & .title{
    text-align: center;
    margin: 0.5rem 0;
  }

  & .search{
    width: 100%;
    background-color: change-color($color: $black, $alpha: 0.4);
    border: none;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    color: $white;
    box-shadow: 0 2px 2px change-color($color: $white, $alpha: 0.4);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }
}

//USER STYLE