.chat-messages{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 250px;
  transition: all 0.3s ease-in-out;

  & .text{
    position: relative;
    overflow: auto;
    height: 100%;
    padding: 0.4rem 1rem 0.4rem 1rem;
  
    &::-webkit-scrollbar{
      display: none;
    }

    & .messages-bottom-auto{
      position: fixed;
      bottom: 40px;
      right: 7px;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 1.5rem;
      border-radius: 50%;
      background-color: change-color($color: $secondary, $alpha: 0.8);
      color: $white;
      box-shadow: 2px 2px 7px change-color($color: $gray, $alpha: 0.9);
      visibility: visible;
      opacity: 1;
      transition: all 0.5s ease-in-out;

      &:hover{
        cursor: pointer;
      }

      &.hidden{
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  & .msg-input{
    position: relative;
    min-height: 32px;
    bottom: 0;
    background-color: $secondary;

    & textarea{
      position: relative;
      bottom: 0;
      width: 100%;
      min-width: 318px;
      font-family: inherit;
      resize: none;
      
      background-color: change-color($color: $secondary, $alpha: 0.5);
      border: none;
      font-size: 1rem;
      padding: 0.4rem 1rem;
      color: $white;
      outline: none;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */

      // &:hover{
      //   box-shadow: 3px 3px 3px $gray;
      // }
      
      // &:focus{
      //   box-shadow: 3px 3px 3px change-color($color: $secondary, $alpha: 0.5);
      // }

      &::-webkit-input-placeholder {
        color: change-color($color: $white, $alpha: 0.6);
      }
      
      &:-moz-placeholder { /* Firefox 18- */
        color: change-color($color: $white, $alpha: 0.6);
      }
      
      &::-moz-placeholder {  /* Firefox 19+ */
        color: change-color($color: $white, $alpha: 0.6);
      }
    }
  }
}