.navigation {
  height: $nav-height;
  background-color: $primary;
  color: $white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  padding: 0 0.5rem;
}

.navigation .banner {
}

.navigation .banner-icon {
  width: 3rem;
  margin: 0 2px 5px 0;
  padding: 0;
}

.navigation .banner-title {
  margin-left: -10px;
  font-size: 1.5rem;
}

.links .link {
  color: $white;
  margin-right: 0.4rem;
  text-decoration: none;
}
